groq
langchain-groq

google-generativeai
langchain-google-genai

mistralai
langchain-mistralai

langchain
langchain-community
langchain-core

langchain_huggingface

transformers

python-dotenv
streamlit